#image{

    width: 80%;
    margin-left: 10%;
    border-radius: 3px;
}

.desc{
    width: 80%;
    margin-left: 10%;

}

#ads2{

    background-color: white;
    height: 10vh;
    width: 80%;
    margin-left: 10%;
}
#Aus{
    width: 80%;
    margin-left: 10%;
}
#image2{
height: 18vh ;
margin-top: 1vh;
}
#PK{
    width: 80%;
    margin-left: 10%;
}